 <div class="main" role="main">

 <!-- Page Heading -->
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Administrador de  Mascotas</h1>
            </div>
                <div class="col-md-6">
                   <ul class="breadcrumb">
                      <li><a href="/">Inicio</a></li>
                      <li><a href="about">¿Quiénes Somos?</a></li>
                      <li class="active">Adminitrador de Mascotas</li>
                   </ul>
                </div>
             </div>
        </div>
      </section>
      <!-- Page Heading / End -->

             <!-- Page Content -->
      <section class="page-content">
        <div class="container">

            <div class="table-responsive">
              <table class="job-manager-jobs table table-bordered table-striped">

  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>Country</th>
      <th>State</th>
      <th>City</th>
      <th>Website</th>
      <th>Manager</th>
      <th>Address</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_institutions.each do |admin_institution| %>
      <tr>
        <td class="job_title"><%= admin_institution.name %>
          <ul class="job-dashboard-actions">
                        <li><%= link_to 'Show', admin_institution %></li>
                        <li><%= link_to 'Edit', edit_admin_institution_path(admin_institution)%></li>
                        <li><%= link_to 'Delete', admin_institution, method: :delete, data: { confirm: 'Are you sure?' }, class: "job-dashboard-action-delete" %></li>
                      </ul>

        </td>
        <td><%= admin_institution.username %></td>
        <td><%= admin_institution.email %></td>
        <td><%= admin_institution.password %></td>
        <td><%= admin_institution.country %></td>
        <td><%= admin_institution.state %></td>
        <td><%= admin_institution.city %></td>
        <td><%= admin_institution.website %></td>
        <td><%= admin_institution.manager %></td>
        <td><%= admin_institution.address %></td>
        <td><%= admin_institution.description %></td>
   
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Institution', new_admin_institution_path %>

   </div>
          </div>
        </div>
      </section>
