  <div class="container">  
    <div class="content">
      <div class="row">
        <div class="control-group col-lg-12">
          <div class="panel panel-default">
            <div class="panel-body">
                  <div class="panel-heading">
                    <h4>Completa el Proceso de Adopción de <%= @pet.name.capitalize%></h4>
                  </div>
                  <%= form_for ([ @pet, @adoption_form ]), html: { class: "form-horizontal", role: "form" } do |f| %>
                    <% if @adoption_form.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@adoption_form.errors.count, "error") %> prohibited this adoption_form from being saved:</h2>

                        <ul>
                        <% @adoption_form.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                
          				<div class="form-group">                  
                    <%= f.label :name, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :name, autofocus: true, class: "form-control", class:"form-control", placeholder:"Escribe tu Nombre"%>
                    </div>
                  </div>

                  <div class="form-group">                  
                    <%= f.label :last_name, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :last_name, autofocus: true, class: "form-control", class:"form-control", placeholder:"Escribe tus Apellidos"%>
                    </div>
                  </div>


                  <div class="form-group">                  
                    <%= f.label :address, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                      <%= f.text_field :address, autofocus: true, class: "form-control", class:"form-control", placeholder:"Escribe tu Dirección"%>
                    </div>
                  </div>

 
                  <div class="form-group">                  
                    <%= f.label :neighborhood , class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                      <%= f.text_field :neighborhood , autofocus: true, class: "form-control", class:"form-control", placeholder:"Escribe tu Barrio"%>
                    </div>
                  </div>
  
                  <div class="form-group">                  
                    <%= f.label :region, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :region, autofocus: true, class: "form-control", class:"form-control", placeholder:"Escribe tu Departamento"%>
                    </div>
                  </div>


                  <div class="form-group">                  
                    <%= f.label :city, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :city, autofocus: true, class: "form-control", class:"form-control", placeholder:"Escribe tu Ciudad"%>
                    </div>
                  </div>
 
                  <div class="form-group">                  
                    <%= f.label :phone, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :phone, autofocus: true, class: "form-control", class:"form-control", placeholder:"Escribe tu Teléfono"%>
                    </div>
                  </div>

                  <div class="form-group">                  
                    <%= f.label :mobile_phone, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :mobile_phone, autofocus: true, class: "form-control", class:"form-control", placeholder:"Escribe tu Celular"%>
                    </div>
                  </div>

                  <div class="form-group">                  
                    <%= f.label :email, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :email, autofocus: true, class: "form-control", class:"form-control", placeholder:"Escribe tu Email"%>
                    </div>
                  </div>

                  <div class="form-group">                  
                    <%= f.label :age, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :age, autofocus: true, class: "form-control", class:"form-control", placeholder:"Escribe tu Edad"%>
                    </div>
                  </div>

                  <div class="form-group">                  
                    <%= f.label :ingresos_mensuales , class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :ingresos_mensuales , autofocus: true, class: "form-control", class:"form-control", placeholder:"Escribe tus Ingresos Mensuales"%>
                    </div>
                  </div>

                  <div class="form-group">                  
                    <%= f.label :profesion, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :profesion, autofocus: true, class: "form-control", class:"form-control", placeholder:"Escribe tu profesión"%>
                    </div>
                  </div>
 
                  <div class="form-group">                  
                    <%= f.label :tipo_de_vivienda, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :tipo_de_vivienda, autofocus: true, class: "form-control", class:"form-control", placeholder:"Escribe tu tipo de Vivienda"%>
                    </div>
                  </div>

                  <div class="form-group">                  
                    <%= f.label :tipo_de_propiedad_de_la_vivienda, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :tipo_de_propiedad_de_la_vivienda, autofocus: true, class: "form-control", class:"form-control", placeholder:"Escribe tu tipo propiedad de la Vivienda"%>
                    </div>
                  </div>

                  <div class="form-group">                  
                    <%= f.label :question_1, "En caso de ser arrendado la vivienda el propietario sabe y esta de acuerdo con la integración de la mascota a la vivienda",  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :question_1, autofocus: true, class: "form-control", class:"form-control", placeholder:"Escribe tu tipo propiedad de la Vivienda"%>
                    </div>
                  </div>

                  <div class="form-group">                  
                    <%= f.label :question_2, "Tiene problemas que tengan problemas con las mascotas",  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :question_2, autofocus: true, class: "form-control", placeholder:"Escribe tu tipo propiedad de la Vivienda"%>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_3 , class: "col-sm-2 control-label"%>
                    <div class="col-sm-10">
                    <%= f.text_field :question_3 , autofocus: true, class: "form-control", placeholder: "Pendiente actualizar"%>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_4 , class: "col-sm-2 control-label"%>
                    <div class="col-sm-10">
                    <%= f.text_field :question_4 , autofocus: true, class: "form-control", placeholder: "Pendiente actualizar"%>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_5 , class: "col-sm-2 control-label"%>
                    <div class="col-sm-10">
                    <%= f.text_field :question_5 , autofocus: true, class: "form-control", placeholder: "Pendiente actualizar"%>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_6 ,  class: "col-sm-2 control-label"%>
                    <div class="col-sm-10">
                    <%= f.text_field :question_6 , autofocus: true, class: "form-control", placeholder: "Pendiente actualizar"%>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_7 ,  class: "col-sm-2 control-label"%>
                    <div class="col-sm-10">
                    <%= f.text_field :question_7 , autofocus: true, class: "form-control", placeholder: "Pendiente actualizar"%>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_8 ,  class: "col-sm-2 control-label"%>
                    <div class="col-sm-10">
                    <%= f.text_field :question_8 , autofocus: true, class: "form-control", placeholder: "Pendiente actualizar"%>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_9 ,  class: "col-sm-2 control-label"%>
                    <div class="col-sm-10">
                    <%= f.text_field :question_9 , autofocus: true, class: "form-control", placeholder: "Pendiente actualizar"%>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_10,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_10, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_11,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_11, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_12,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_12, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_13,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_13, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_14,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_14, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_15,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_15, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_16,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_16, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_17,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_17, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_18,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_18, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_19,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_19, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_20,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_20, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_21,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_21, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_22,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_22, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_23,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_23, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_24,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_24, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_25,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_25, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_26,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_26, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_27,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_27, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :question_28,  class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                    <%= f.text_field :question_28, autofocus: true, class: "form-control", placeholder: "Pendiente actualizar" %>
                    </div>
                  </div>
                  </br>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <%#= f.submit %>
                      <button type="submit" class="btn btn-success">Enviar</button>
                      <% end %>
                    </div>
                  </div>


            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>





