  <div class="container">  
    <div class="content">
      <div class="row">
        <div class="control-group col-lg-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                <strong>Name:</strong>
                <%= @adoption_form.name %>
              </p>

              <p>
                <strong>Last name:</strong>
                <%= @adoption_form.last_name %>
              </p>

              <p>
                <strong>Address:</strong>
                <%= @adoption_form.address %>
              </p>

              <p>
                <strong>Neighborhood:</strong>
                <%= @adoption_form.neighborhood %>
              </p>

              <p>
                <strong>Region:</strong>
                <%= @adoption_form.region %>
              </p>

              <p>
                <strong>City:</strong>
                <%= @adoption_form.city %>
              </p>

              <p>
                <strong>Phone:</strong>
                <%= @adoption_form.phone %>
              </p>

              <p>
                <strong>Mobile phone:</strong>
                <%= @adoption_form.mobile_phone %>
              </p>

              <p>
                <strong>Email:</strong>
                <%= @adoption_form.email %>
              </p>

              <p>
                <strong>Age:</strong>
                <%= @adoption_form.age %>
              </p>

              <p>
                <strong>Ingresos mensuales:</strong>
                <%= @adoption_form.ingresos_mensuales %>
              </p>

              <p>
                <strong>Profesion:</strong>
                <%= @adoption_form.profesion %>
              </p>

              <p>
                <strong>Tipo de vivienda:</strong>
                <%= @adoption_form.tipo_de_vivienda %>
              </p>

              <p>
                <strong>Tipo de propiedad de la vivienda:</strong>
                <%= @adoption_form.tipo_de_propiedad_de_la_vivienda %>
              </p>

              <p>
                <strong>Question 1:</strong>
                <%= @adoption_form.question_1 %>
              </p>

              <p>
                <strong>Question 2:</strong>
                <%= @adoption_form.question_2 %>
              </p>

              <p>
                <strong>Question 3:</strong>
                <%= @adoption_form.question_3 %>
              </p>

              <p>
                <strong>Question 4:</strong>
                <%= @adoption_form.question_4 %>
              </p>

              <p>
                <strong>Question 5:</strong>
                <%= @adoption_form.question_5 %>
              </p>

              <p>
                <strong>Question 6:</strong>
                <%= @adoption_form.question_6 %>
              </p>

              <p>
                <strong>Question 7:</strong>
                <%= @adoption_form.question_7 %>
              </p>

              <p>
                <strong>Question 8:</strong>
                <%= @adoption_form.question_8 %>
              </p>

              <p>
                <strong>Question 9:</strong>
                <%= @adoption_form.question_9 %>
              </p>

              <p>
                <strong>Question 10:</strong>
                <%= @adoption_form.question_10 %>
              </p>

              <p>
                <strong>Question 11:</strong>
                <%= @adoption_form.question_11 %>
              </p>

              <p>
                <strong>Question 12:</strong>
                <%= @adoption_form.question_12 %>
              </p>

              <p>
                <strong>Question 13:</strong>
                <%= @adoption_form.question_13 %>
              </p>

              <p>
                <strong>Question 14:</strong>
                <%= @adoption_form.question_14 %>
              </p>

              <p>
                <strong>Question 15:</strong>
                <%= @adoption_form.question_15 %>
              </p>

              <p>
                <strong>Question 16:</strong>
                <%= @adoption_form.question_16 %>
              </p>

              <p>
                <strong>Question 17:</strong>
                <%= @adoption_form.question_17 %>
              </p>

              <p>
                <strong>Question 18:</strong>
                <%= @adoption_form.question_18 %>
              </p>

              <p>
                <strong>Question 19:</strong>
                <%= @adoption_form.question_19 %>
              </p>

              <p>
                <strong>Question 20:</strong>
                <%= @adoption_form.question_20 %>
              </p>

              <p>
                <strong>Question 21:</strong>
                <%= @adoption_form.question_21 %>
              </p>

              <p>
                <strong>Question 22:</strong>
                <%= @adoption_form.question_22 %>
              </p>

              <p>
                <strong>Question 23:</strong>
                <%= @adoption_form.question_23 %>
              </p>

              <p>
                <strong>Question 24:</strong>
                <%= @adoption_form.question_24 %>
              </p>

              <p>
                <strong>Question 25:</strong>
                <%= @adoption_form.question_25 %>
              </p>

              <p>
                <strong>Question 26:</strong>
                <%= @adoption_form.question_26 %>
              </p>

              <p>
                <strong>Question 27:</strong>
                <%= @adoption_form.question_27 %>
              </p>

              <p>
                <strong>Question 28:</strong>
                <%= @adoption_form.question_28 %>
              </p>

              <p>
                <strong>Pet id:</strong>
                <%= @adoption_form.pet_id %>
              </p>
              <p>
                <strong>Contacto institucion:</strong>
                <%= @institution_info.name%>, 
                <%= @institution_info.email %>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>