 <div class="main" role="main">

 <!-- Page Heading -->
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Administrador de  Mascotas</h1>
            </div>
                <div class="col-md-6">
                   <ul class="breadcrumb">
                      <li><a href="/">Inicio</a></li>
                      <li><a href="about">¿Quiénes Somos?</a></li>
                      <li class="active">Adminitrador de Mascotas</li>
                   </ul>
                </div>
             </div>
        </div>
      </section>
      <!-- Page Heading / End -->

             <!-- Page Content -->
      <section class="page-content">
        <div class="container">

            <div class="table-responsive">
              <table class="job-manager-jobs table table-bordered table-striped">


    <thead>
      <tr>
        <th>Name</th>
        <th>Kind</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Size</th>
        <th>Story</th>
        <th>City</th>
        <th>Country</th>
        <th>Region</th>
        <th>User</th>
        <th>Institution</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @admin_pets.each do |admin_pet| %>
        <tr>
          <td class="job_title"><%= admin_pet.name %>
            <ul class="job-dashboard-actions">
                        <li><%= link_to 'Show', admin_pet %></li>
                        <li><%= link_to 'Edit', edit_admin_pet_path(admin_pet) %></li>
                        <li><%= link_to 'Destroy', admin_pet, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                      </ul>
          </td>
          <td><%= admin_pet.kind %></td>
          <td><%= admin_pet.age %></td>
          <td><%= admin_pet.gender %></td>
          <td><%= admin_pet.size %></td>
          <td><%= admin_pet.story %></td>
          <td><%= admin_pet.city %></td>
          <td><%= admin_pet.country %></td>
          <td><%= admin_pet.region %></td>
          <td><%= admin_pet.user %></td>
          <td><%= admin_pet.institution %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Pet', new_admin_pet_path %>
          
            </div>
          </div>
        </div>
      </section>
