    <div class="container">  
      <div class="content">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="panel-heading">
                            <h4 class="">Iniciar Sesi칩n</h4>
                        </div>
                            <%= form_for(resource, as: resource_name, url: session_path(resource_name),role:"form", class: "form-horizontal") do |f| %>

                              <div class="form-group">
                                <%= f.label :Email,for:"inputEmail1", class: "col-sm-2 control-label" %>
                                <div class="col-sm-10">
                                  <%= f.email_field :email, autofocus: true, class: "form-control", class:"form-control", id:"inputEmail1", placeholder:"Digita tu email", id:"inputEmail1"%>
                                </div>
                              </div>

                              <div class="form-group">
                                  <%= f.label :Contrase침a, for:"inputPassword1", class: "col-sm-2 control-label" %>
                                    <div class="col-sm-10">
                                      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder:"Digita tu Contrase침a", id: "inputPassword1"  %>
                                    </div>  
                              </div>
                                
                                  <% if devise_mapping.rememberable? %>
                              <div class="form-group">
                                  <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                      <%= f.check_box :remember_me %> 
                                      <%= f.label :Recuerdame %>
                                    </div>
                                  </div>
                              </div>      
                                  <% end -%>

                              <div class="form-group">
                                  <div class="col-lg-offset-2 col-lg-10">
                                      <%= f.submit "Iniciar Sesi칩n", class: 'btn btn-success btn-block' %>
                                  </div>
                              </div>

                            <%= render "devise/shared/links" %>
                            <% end %>
                      </div>
                </div>
            </div>
        </div>
      </div>    
    </div>